#bg-Historia{
    background-color: orange;
}
#bg-Deportes{
    background-color: blue;
}
#bg-Ciencia{
    background-color: green;
}
#bg-Arte{
    background-color: red;
}
#bg-Entretenimiento{
    background-color: pink;
}
#bg-Geografia{
    background-color: orange;
}