<main class="container-fluid flex-fill">
    <div class="d-flex flex-column align-items-center">
        <h2>Administrador</h2>
        <a class="btn btn-warning" href="/administrador/estadisticas">Ver estadisticas</a>
    </div>
</main>


