<!DOCTYPE html>
<html lang="en">
<title>Preguntatres</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="../public/css/fragments.css">
<link rel="stylesheet" href="../public/css/preguntas.css">
<link rel="stylesheet" href="../public/css/perdiste.css">
<link rel="stylesheet" href="../public/css/ranking.css">

<body class="min-vh-100 d-flex flex-column">

<nav class="navbar bg-secondary py-4">
    <div class="col-12 m-auto col-md-3 m-md-0 ms-md-3 text-white d-flex align-items-center justify-content-center justify-content-md-start">
       <a href="/lobby/mostrar" class="text-decoration-none text-white d-flex align-items-center">
        <img id="logo-header" src="/public/images/icons/logo-nav.png" class="rounded-circle mx-3">
        <h1 id="titulo-pagina" class="d-inline ms-3 fs-1 my-auto">Pregunta<span>tres</span></h1>
       </a>
    </div>
    <div id="options-nav" class="col-12 col-md-8 d-flex align-items-center justify-content-center justify-content-md-end gap-4 gap-md-5">
        {{#showLogout}}
            {{^noEsJugador}}
            <a href="/lobby/mostrar" class="link-nav text-decoration-none fs-4 text-white">Lobby</a>
            <a href="/jugarPartida/mostrar" class="link-nav text-decoration-none fs-4 text-white">Jugar partida</a>
            <a href="/perfil/mostrar" class="link-nav text-decoration-none fs-4 text-white">Perfil</a>
            {{/noEsJugador}}
            <a href="/cerrarSesion/logout" class="btn btn-dark me-md-3" type="submit">Cerrar sesión</a>
        {{/showLogout}}
    </div>
</nav>