  <div id="perdiste">
  <h1>¡Fin de la partida!</h1>

    <div class="stat">Puntos obtenidos: <strong>{{puntos}}</strong></div>
    <div class="stat">Racha más larga: <strong>{{racha}}</strong></div>

    <div>
        <a href="/lobby" class="btn btn-secondary">Volver al Lobby</a>
        <a href="/jugarPartida/mostrar" class="btn btn-primary">Jugar de nuevo</a>
    </div>
  </div>