<main class="container-fluid flex-fill d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center row mx-1">
        <form action="/ingreso/registerValidator" method=POST enctype="multipart/form-data" class="card d-flex flex-column gap-3 p-2 m-2 col-sm-11 col-md-8 col-lg-7 col-xl-6 col-xxl-4 my-5 p-4 fs-4">
            <h3 class="m-auto">Registrarse</h3>
            <div class="row p-0">
                <div class="col-6">
                    <input class="w-100 h-100 border border-secondary rounded-1" type="text" name="nombre-completo" placeholder="Nombre completo" required>
                </div>
                <div class="col-6">
                    <input class="w-100 h-100 border border-secondary rounded-1" type="date" name="fecha-nacimiento" placeholder="Fecha de nacimiento" required>
                </div>
                <div class="col-6 mt-3">
                    <input class="w-100 h-100 border border-secondary rounded-1" type="email" name="email" placeholder="Email" required>
                </div>
                <div class="col-6 mt-3">
                    <input class="w-100 h-100 border border-secondary rounded-1" type="text" name="nickname" placeholder="Nombre de usuario" required>
                </div>
                <div class="col-6 mt-3">
                    <input class="w-100 h-100 border border-secondary rounded-1" type="password" name="contrasenia" placeholder="Contraseña" required>
                </div>
                <div class="col-6 mt-3">
                    <input class="w-100 h-100 border border-secondary rounded-1"  type="password" name="contrasenia-repetida" placeholder="Repetir contraseña" required>
                </div>
                <div class="col-6 mt-3">
                    <select class="w-100 h-100 border border-secondary rounded-1" name="genero" required>
                        <option value="0" selected disabled>Genero</option>
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                        <option value="3">Prefiero no cargarlo</option>
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <div class="border border-secondary rounded-1 w-100 h-100 d-flex justify-content-between align-items-center">
                        <span id="nombre-archivo" class="d-inline ms-1 text-truncate d-inline-block mw-100">Foto de perfil</span>
                        <label for="foto-perfil" class="me-1" style="cursor: pointer"><i class="bi bi-paperclip"></i></label>
                        <input id="foto-perfil" class="d-none"  type="file" name="foto-perfil" value="Foto de perfil" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.3641581326856!2d-58.5628052!3d-34.670757599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc62cc3ef7083%3A0x8867107f425fade5!2sUniversidad%20Nacional%20de%20La%20Matanza!5e0!3m2!1ses!2sar!4v1748119067840!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100 h-100"></iframe>
                </div>
            </div>
            <input type="submit" value="Registrarse">
            {{#msjError}}
                <p class="alert alert-danger">{{msjError}}</p>
            {{/msjError}}
            <p class="m-auto">¿Ya tenes una cuenta? <a href="/ingreso/login" class="text-decoration-none">Inicia Sesion</a></p>
        </form>
    </div>
</main>
<script src="/public/js/registerScript.js" ></script>

