<main class="container-fluid">
    <div class="d-flex justify-content-center row">
        <form action="/ingreso/registerValidator" method=POST enctype="multipart/form-data" class="card d-flex flex-column gap-3 p-2 m-2 col-sm-11 col-md-8 col-lg-6 col-xl-4 my-5 p-4 fs-4">
            <h3 class="m-auto">Registrarse</h3>
            <div class="row p-4 pb-0">
                <div class="col-6">
                    <input class="w-100 h-100 border border-secondary rounded-1" type="text" name="nombre-completo" placeholder="Nombre completo" required>
                </div>
                <div class="col-6">
                    <input class="w-100 h-100 border border-secondary rounded-1" type="date" name="fecha-nacimiento" placeholder="Fecha de nacimiento" required>
                </div>
                <div class="col-6 mt-3">
                    <input class="w-100 h-100 border border-secondary rounded-1" type="email" name="email" placeholder="Email" required>
                </div>
                <div class="col-6 mt-3">
                    <input class="w-100 h-100 border border-secondary rounded-1" type="text" name="nickname" placeholder="Nombre de usuario" required>
                </div>
                <div class="col-6 mt-3">
                    <input class="w-100 h-100 border border-secondary rounded-1" type="password" name="contrasenia" placeholder="Contraseña" required>
                </div>
                <div class="col-6 mt-3">
                    <input class="w-100 h-100 border border-secondary rounded-1"  type="password" name="contrasenia-repetida" placeholder="Repetir contraseña" required>
                </div>
                <div class="col-6 mt-3">
                    <select class="w-100 h-100 border border-secondary rounded-1" name="genero" required>
                        <option value="0" selected disabled>Genero</option>
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                        <option value="3">Otro</option>
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <div class="border border-secondary rounded-1 w-100 h-100 d-flex justify-content-between align-items-center">
                        <span id="nombre-archivo" class="d-inline ms-1 text-truncate d-inline-block mw-100">Foto de perfil</span>
                        <label for="foto-perfil" class="me-1" style="cursor: pointer"><i class="bi bi-paperclip"></i></label>
                        <input id="foto-perfil" class="d-none"  type="file" name="foto-perfil" value="Foto de perfil" required>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="ratio ratio-16x9 shadow-sm rounded-3 overflow-hidden border">
                    <div id="mapa" class="w=100 border border-4 border-dark rounded-3"></div>
                </div>
                <p id="direccion" class="mt-1 fs-6"></p>
            </div>

            <input id="latitud"  type="hidden" name="latitud" value="">
            <input id="longitud"  type="hidden" name="longitud" value="">
            <input id="pais"  type="hidden" name="pais" value="">

            <input type="submit" value="Registrarse">
            {{#msjError}}
                <p class="alert alert-danger text-center">{{msjError}}</p>
            {{/msjError}}
            {{#msjExito}}
                <p class="alert alert-success text-center">{{msjExito}}</p>
            {{/msjExito}}
            <p class="m-auto">¿Ya tenes una cuenta? <a href="/ingreso/login" class="text-decoration-none">Inicia Sesión</a></p>
        </form>
    </div>
</main>
<script src="/public/js/registerScript.js"></script>
<script src="/public/js/mapa.js"></script>

