<div id="bg-{{categoria}}" class="game-container py-5">
    <div class="container text-center text-white">
        <div class="row mb-4">
            <div class="col">
                <h4 class="info-box">🎯 Categoría: {{categoria}}</h4>
            </div>
            <div class="col">
                <h4 class="info-box" id="reloj">⏱️</h4>
            </div>
            <div class="col">
                <h4 class="info-box">🏆 Puntos: {{puntos}}</h4>
            </div>
            <div class="col">
                <button class="btn btn-danger rounded-pill">⚠️ Reportar pregunta</button>
            </div>
        </div>

        <div class="question-box bg-white text-dark p-4 rounded shadow mb-4">
            <h3 class="mb-3">{{pregunta}}</h3>


                <div class="d-flex flex-column align-items-center gap-3">
                    {{#respuestas}}
                        <div  id="{{id_html}}"  class="btn btn-answer">
                            {{descripcion}}
                        </div>
                    {{/respuestas}}
                </div>
                <a href="/jugarPartida/redirect"  class="btn btn-warning rounded-pill text-decoration-none text-white"><i class="bi bi-arrow-right"></i></a>

        </div>
    </div>
</div>

<script src="/public/js/resultado.js"></script>